body {
    background-color: rgb(157, 49, 234);
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.548);
    font-size: 1rem;
    font-family: consolas;
    text-align: center;
    align-items: center;
    margin: 10%;
}

div {
    align-items: center;
    background-image: linear-gradient(160deg, #d0a4f7 0%, #f7bbe8 100%);
    box-shadow: 0 0 25px black;
    color: black;
    border-radius: 10px;
    font-size: 1.5rem;

    margin: 50px auto;
    padding: 20px;
    width: 65%;
}

.apro {
    color: rgb(5, 89, 46) !important;
}

span {
    color: rgb(202, 5, 5);
}