
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #42434d;
	overflow-x: hidden;
    margin: 0;
    grid-gap: 3em;
	height: 100vh;
	background: 
		repeating-linear-gradient(45deg, 
				#333333 0 1em, #535353 0 2em);
}

img{
    display: block;
    margin: 0px auto;
    padding: 30px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0;
}

li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


